/* .nav-link[aria-expanded="true"]{
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
} */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Oswald", sans-serif !important;
}

ul.list-normal li {
    text-align: left;
    line-height: 1.2em;
}

.nav {
    justify-content: flex-end;
}

.sidebar .nav li a,
.sidebar .nav li .dropdown-menu a {
    margin: 5px 15px 0;
}

.table thead tr th {
    font-weight: 800;
}

.title {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.card-header {
    text-transform: capitalize;
}

.card .card-header.card-header-tabs .nav-tabs-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.form-group .bmd-label-static,
.deadline-wrap label {
    top: -8px;
    left: 0;
    padding: 0;
    color: #8e24aa;
    border-radius: 3px;
    background: #fff;
    font-weight: bold;
}

.form-wrap .row {
    align-items: flex-start;
}

/* ------------------------- form ------------------------ */
.form-group {
    margin-bottom: 0;
}

.bmd-form-group .form-control {
    line-height: 2em;
}

.form-control2[type="file"] {
    overflow: hidden;
}

.form-control2[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control2 {
    min-height: auto;
    padding-top: 4px;
    padding-bottom: 3.28px;
    transition: all 0.1s linear;
}

.profile {
    width: 100% !important;
    height: auto !important;
}

.dropzone {
    background: #e3e6ff;
    border-radius: 13px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted #1833ff;
}

.btn {
    font-size: 0.85rem;
}

button.btn:disabled,
.btn.btn-primary.disabled:hover,
.btn.btn-primary:disabled:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
}

.attachments {
    list-style: none;
}

.attachments a,
.attachments a:hover {
    text-decoration: none;
}

.btn.btn-sm,
.btn-group-sm > .btn,
.btn-group-sm .btn {
    padding: 1.25rem;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.action-td a {
    padding: 10px;
}

.action-td a.text-muted:hover {
    color: red !important;
}

.pdf-wrap {
    display: flex;
    justify-content: space-around;
}

.deadline h6,
.deadline .text-muted {
    /* color: #fff !important; */
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.badge {
    color: #fff;
    padding: 0.35em 0.65em;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 100%;
        max-width: 100vw;
    }
    .modal-xl .modal-body {
        height: 100vh;
    }
    #pdf-viewer {
        height: 100%;
        height: 100vh;
    }
}

.fade.in {
    opacity: 1;
}

/* ------------------------ spinner ---------------------------------  */

.semipolar-spinner,
.semipolar-spinner * {
    box-sizing: border-box;
}

.semipolar-spinner {
    height: 65px;
    width: 65px;
    position: relative;
}

.semipolar-spinner .ring {
    border-radius: 50%;
    position: absolute;
    border: calc(65px * 0.05) solid transparent;
    border-top-color: #ff1d5e;
    border-left-color: #ff1d5e;
    animation: semipolar-spinner-animation 2s infinite;
}

.semipolar-spinner .ring:nth-child(1) {
    height: calc(65px - 65px * 0.2 * 0);
    width: calc(65px - 65px * 0.2 * 0);
    top: calc(65px * 0.1 * 0);
    left: calc(65px * 0.1 * 0);
    animation-delay: calc(2000ms * 0.1 * 4);
    z-index: 5;
}

.semipolar-spinner .ring:nth-child(2) {
    height: calc(65px - 65px * 0.2 * 1);
    width: calc(65px - 65px * 0.2 * 1);
    top: calc(65px * 0.1 * 1);
    left: calc(65px * 0.1 * 1);
    animation-delay: calc(2000ms * 0.1 * 3);
    z-index: 4;
}

.semipolar-spinner .ring:nth-child(3) {
    height: calc(65px - 65px * 0.2 * 2);
    width: calc(65px - 65px * 0.2 * 2);
    top: calc(65px * 0.1 * 2);
    left: calc(65px * 0.1 * 2);
    animation-delay: calc(2000ms * 0.1 * 2);
    z-index: 3;
}

.semipolar-spinner .ring:nth-child(4) {
    height: calc(65px - 65px * 0.2 * 3);
    width: calc(65px - 65px * 0.2 * 3);
    top: calc(65px * 0.1 * 3);
    left: calc(65px * 0.1 * 3);
    animation-delay: calc(2000ms * 0.1 * 1);
    z-index: 2;
}

.semipolar-spinner .ring:nth-child(5) {
    height: calc(65px - 65px * 0.2 * 4);
    width: calc(65px - 65px * 0.2 * 4);
    top: calc(65px * 0.1 * 4);
    left: calc(65px * 0.1 * 4);
    animation-delay: calc(2000ms * 0.1 * 0);
    z-index: 1;
}

@keyframes semipolar-spinner-animation {
    50% {
        transform: rotate(360deg) scale(0.7);
    }
}

/* ---------------------------------------------------------- */
.container-fluid
    .card
    .card-header-primary:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(
        90deg,
        rgb(28 28 28) 12%,
        rgb(20 19 19 / 80%) 58%,
        rgb(0 0 0) 100%
    );
}

table.dataTable thead th {
    background: transparent !important;
    white-space: nowrap;
}

table.dataTable thead span.sort-icon {
    display: inline-block;
    padding-left: 5px;
    width: 16px;
    height: 16px;
}

table.dataTable thead .sorting span {
    background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png")
        no-repeat center right;
}

table.dataTable thead .sorting_asc span {
    background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc.png")
        no-repeat center right;
}

table.dataTable thead .sorting_desc span {
    background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc.png")
        no-repeat center right;
}

table.dataTable thead .sorting_asc_disabled span {
    background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc_disabled.png")
        no-repeat center right;
}

table.dataTable thead .sorting_desc_disabled span {
    background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc_disabled.png")
        no-repeat center right;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_desc_disabled::before {
    content: "";
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
    content: "";
}

table.dataTable td.remarks{
    line-height: 1em;
}

/* ------------------------------------------------------ */
.card .card-body table {
    text-transform: capitalize;
}
a.nav-link:hover {
    cursor: pointer;
}
.nav-tabs .nav-item .nav-link i {
    font-size: 18px;
}

.ui-autocomplete {
    z-index: 2147483647;
}

button.text-success:hover,
button.text-success:active,
button.text-success:focus {
    color: #3cfd68 !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        /* max-width: 1000px; */
        /* max-width: 500px; */
    }
    .modal-dialog.small {
        max-width: 500px;
    }
}

.card
    [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    margin-bottom: 15px;
}

.btn.editIcon,
.btn.deleteIcon {
    color: #fff !important;
}

.bi-filetype-pdf {
    font-size: 2rem;
    padding: 10px;
}

.pdf a:hover {
    color: #ff1d5e;
}

/* ------------------- list-group -----------------------------------  */

.h3,
h3 {
    font-size: 1.3rem;
}
.doctype_section > div:nth-child(2) {
    display: none;
}

.sidebar .logo {
    margin: 0 auto;
    max-width: 80%;
    padding: 5px 0 0;
}

.sidebar .logo img {
    width: 100%;
    height: auto;
}

.navbar {
    color: #ffffff;
    padding: 1rem;
}
.navbar .navbar-brand {
    font-weight: 900;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 0.625rem 2.4rem;
}

.navbar.navbar-transparent {
    background: rgb(9, 2, 124);
    background: linear-gradient(
        90deg,
        rgba(9, 2, 124, 1) 12%,
        rgba(84, 14, 154, 1) 58%,
        rgba(84, 14, 154, 0.7175245098039216) 100%
    );
}

.navbar.navbar-transparent > .container-fluid {
    background: url("../images/tesda_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

div.dataTables_wrapper div.dataTables_length select {
    padding: 2px;
    text-align: center;
}

.navbar-toggler {
    background: #fff;
}

.main-panel > .content {
    margin-top: 0;
    padding: 20px 15px;
}
/* ---------------------------------------------- switch ----------------------------------------  */
/*** 
	Material Design Switches for Bootstrap 4 and Material Design Bootstrap (MDB)
	by djibe
	JSFiddle : https://jsfiddle.net/djibe89/9deak9dh/
***/

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    top: 2px;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: "";
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: "";
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.primary-color {
    background-color: #4285f4 !important;
}
.danger-color {
    background-color: #f44242 !important;
}

.letter-spacing-5 {
    letter-spacing: 0.5em;
    text-transform: uppercase;
}
/* ---------------------------------------------------------------------- fexl box margin ------------------------------  */
.deadline-wrap {
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
}

.deadline-wrap > div {
    padding: 1em;
}
.deadline-wrap .form-group {
    margin: 0;
    padding: 0;
}

#wrap-date_received {
    flex-grow: 1;
}
/* -----------------------------------------------------------  */
.TH-Actions {
    text-align: center;
}

.badge-warning {
    background-color: #ff9800;
}
.count {
    font-family: "Anton", sans-serif;
}

.card .bg-danger,
.card .bg-success {
    color: #ffffff;
}

.modal.show {
    background: rgb(0, 0, 0, 0.8);
}

.pdf .alert.alert-danger a {
    color: #ffdcb1;
}

.pdf .alert.alert-danger a:hover {
    color: #eee;
}

.pdf .alert {
    margin: 0;
}

.close:focus {
    outline: none;
}

svg {
    display: none !important;
}
/* .deadline-wrap > label,
.deadline-wrap > div{
    align-self: flex-start;
} */

.alert .close.deleteIcon i {
    font-size: 1.5rem !important;
}

.btn.locked {
    padding: 20px;
}

.btn.locked i.material-icons {
    font-size: 3rem;
}
.decrypted.btn-dark {
    background-color: #ff9800;
}
/* ----------------------------------------------------------------------- */
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.btn-attachment,
.alert-attachment {
    background: linear-gradient(60deg, #0d6efd, #034883);
}

.btn.btn-attachment:focus,
.btn.btn-attachment:active,
.btn.btn-attachment:hover,
.pdf .alert-attachment a:hover {
    background: linear-gradient(60deg, #084299, #000911);
    color: rgb(255, 255, 255);
}

.btn-archive,
.alert-archive {
    background: linear-gradient(60deg, #69877d, #33423d);
}

/* .btn.btn-archive:focus, */
/* .btn.btn-archive:active, */
.btn.btn-archive:hover,
.pdf .alert-archive a:hover {
    background: linear-gradient(60deg, #447d6a, #284a3f);
    color: rgb(255, 255, 255);
}

.alert-attachment a {
    color: #ffdcb1;
}

.material-switch {
    margin-bottom: 10px;
}

.fsize-1 {
    font-size: 1em;
}

.bootstrap-select {
    margin-top: 10px;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: #fff;
}
.bootstrap-select .bs-ok-default:after {
    color: red;
}

.info .btn,
.info .show > .btn.dropdown-toggle:hover,
.info .dropdown-menu .dropdown-item:hover {
    background-color: #a57463;
}

.action .btn,
.action .show > .btn.dropdown-toggle:hover,
.action .dropdown-menu .dropdown-item:hover {
    background-color: #009688;
}

.info .show > .btn.dropdown-toggle {
    background-color: #3b2a23;
}

.action .show > .btn.dropdown-toggle {
    background-color: #013f39;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #fff;
}

/* ------------------------- New header -------------------------------------------------------- */
.bg-medium-violet-red {
    background-color: #c71585 !important;
    color: #fff;
}

.bg-dark-orchid {
    background-color: #9932cc !important;
    color: #fff;
}



.bg-royal-blue {
    background-color: #4169e1 !important;
    color: #fff;
}

.bg-light-green {
    background-color: #8bc34a !important;
    color: #fff;
}

.bg-red {
    background-color: #830000 !important;
    color: #fff;
}

.bg-pink {
    background-color: #e91e63 !important;
    color: #fff;
}

.bg-purple {
    background-color: #a74caf !important;
    color: #fff;
}

.bg-orange {
    background-color: #ff9800 !important;
    color: #fff;
}
.bg-deep-orange {
    background-color: #ff5722 !important;
    color: #fff;
}

.text-deep-orange {
    color: #ff5722 !important;
}

.bg-cyan {
    background-color: #00bcd4 !important;
    color: #fff;
}

.bg-grey {
    background-color: #9e9e9e !important;
    color: #fff;
}

.bg-blue-grey {
    background-color: #607d8b !important;
    color: #fff;
}

.info-box {
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    /* height: 80px; */
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px;
}

.info-box .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}

.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}

.bg-pink .content .text, .bg-pink .content .number,
.bg-light-green .content .text, .bg-light-green .content .number,
.bg-royal-blue .content .text, .bg-royal-blue .content .number,
.bg-dark-orchid .content .text, .bg-dark-orchid .content .number,
.bg-medium-violet-red .content .text, .bg-medium-violet-red .content .number,
.bg-orange .content .text, .bg-orange .content .number, 
.bg-deep-orange .content .text, .bg-deep-orange .content .number,
.bg-cyan .content .text, .bg-cyan .content .number,
.bg-red .content .text, .bg-red .content .number, 
.bg-blue-grey .content .text, .bg-blue-grey .content .number,
.bg-grey .content .text, .bg-grey .content .number {
    color: #fff !important;
}

.info-box .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}
/* ----------------------------------------  */
#documentTable,
#myTable {
    width: 100% !important;
}

.sidebar[data-color="purple"] li.active > a {
    background-color: #282626;
}

/* --------------------------------------------  */
.userlist p {
    margin-bottom: -7px;
}

.userlist .list-group-item {
    padding: 0rem 1.5rem .3rem;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
}

/* .even .userlist .list-group-item {
    background: #f9f9f9;
}

.odd .userlist .list-group-item {
    background: #fff;
} */

.list-group-item > .badge {
    /* float: left; */
    margin-right: 10px;
}

.userlist .badge {
    background-color: #000;
}

/* ---------------------------------------------------------  */
span[class^="badge badge-"], div[class*=" badge badge-"]{
    font-size: .9em;
    background-color: #000;
}

.badge.badge-ord {
    background-color: #f80403;
}

.badge.badge-fasd {
    background-color: #fe5400;
}

.badge.badge-rod {
    background-color: #fdab01;
}
.badge.badge-hrmo {
    background-color: #fdff03;
}
.badge.badge-budget {
    background-color: #aefe06;
}
.badge.badge-psu {
    background-color: #59fc00;
}
.badge.badge-rtc-iloilo {
    background-color: #338b03;
}
.badge.badge-po-iloilo {
    background-color: #03bb40;
}
.badge.badge-po-guimaras {
    background-color: #00ffa9;
}
.badge.badge-po-capiz {
    background-color: #00fffc;
}
.badge.badge-po-antique {
    background-color: #0254ff;
}
.badge.badge-po-aklan {
    background-color: #0202b0;
}
.badge.badge-po-tti {
    background-color: #4303c2b4;
}
.badge.badge-po-taz {
    background-color: #af00ff;
}
.badge.badge-records {
    background-color: #ff00ff;
}
.badge.badge-hrmo {
    background-color: #fd02a9;
}
.badge.badge-hrmo {
    background-color: #ff0055;
}
/* -----------------------------------------------------------------  */
.btn-return {
    background-color: #282626 !important;
}

.btn.btn-return:focus,
.btn.btn-return:active,
.btn.btn-return:hover {
    background: linear-gradient(60deg, #676c74, #000911);
    color: rgb(255, 255, 255);
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: #000000;
}

/* .bootstrap-select.show .btn.division_id, */
.btn[data-id = "division_id"],
.show>.btn[data-id = "division_id"].dropdown-toggle,
.show>.btn[data-id = "division_id"].dropdown-toggle:hover{
    color: #000;
    background-color: #dee2e6;
    border-color: #999999;
}

/* .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #8e24aa;
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
} */